%html
  %head
    %title= "idle pattern syslog:: #{@title || 'no title'}"
    %link{:rel => 'stylesheet', :href => "/styles/all.css?#{Time.new.to_f}", :type => 'text/css', :media => 'all'} 
  %body
    #header
      %h3= 'client logging facility'
