- @title = "message \##{@msgid}"
#logs
  - if @log.nil?
    %p No message with that ID.
  - else
    #loghdr
      = haml :logheader, :layout => false
    #logbody
      = haml :log, :layout => false
%br
